:root{
    --base-color: #051923;
    --sub-base-color: #071f2b;
    --primary-color: #9ec8b9;
    --secondary-color: #5c8374;
    --text-color: #fcf9f9;
    --sec-text-color: #092635;
}
.lightmode{
    --base-color: #f8f9fa;      /* Light Greyish-White (Background) */
    --sub-base-color: #e9ecef;   /* Slightly Darker Grey (Sub-Background) */
    --primary-color: #000000;    /* Deep Green (Primary Accents) */
    --secondary-color: #515151;  /* Soft Green (Hover Effects) */
    --text-color: #3d3d3d;       /* Almost Black (Main Text) */
    --sec-text-color: #dcdcdc;   /* Dark Grey (Secondary Text) */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
body{
    background-color: var(--base-color);
}
.navbar{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    color: var(--text-color);
    position: relative;
    z-index: 100;
}

#logo{
    padding: 5px;
    height: 35px;
    width: 150px;
    background-color: #051923;
}
.logo{
    width: 140px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#theme-switch{
    height: 32px;
    width: 32px;
    padding: 0;
    border-radius: 50%;
    border: none;
    background-color: var(--sec-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 28em;
    margin-top: 0.4em;
}
#theme-switch svg {
    fill: var(--primary-color);
    position: absolute;
    transition: opacity 0.4s ease, transform 0.4s ease;
}
#theme-switch svg:first-child {
    opacity: 1;
    transform: scale(1);
}
#theme-switch svg:last-child {
    opacity: 0;
    transform: scale(0.5);
}
.lightmode #theme-switch svg:first-child {
    opacity: 0;
    transform: scale(0.5);
}
.lightmode #theme-switch svg:last-child {
    opacity: 1;
    transform: scale(1);
}

.search-box{
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-right: 5px;
}
.search-box input, .search-box button{
    outline: none;
    border-radius: 20px;
    height: 28px;
}
.search-box input{
    width: 260px;
    padding: 10px;
    background-color: transparent;
    border: 2px solid #fcf9f9;
    background-color: #0000006c;
    color: #fcf9f9;
}
.search-box input::placeholder{
    color: #fcf9f9;
    opacity: 0.5;
}
.search-box button{
    width: 80px;
    padding: 4px;
    cursor: pointer;
    border: none;
    background-color: var(--primary-color);
    color: var(--sec-text-color);
    font-weight: 500;
}

.search-box button:hover{
    opacity: 0.7;
}

.container{
    font-size: 16px;
    width: 48vw;
    padding: 3em 1.8em;
    background-color: transparent;
    border: 3px solid var(--primary-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 0.6em;
    z-index: 200;
}
.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--sec-text-color);
    border-radius: 0.6em;
    opacity: 0.95; 
    z-index: -1;
}

#close-btn {
    position: absolute;
    top: 10px;
    left: 690px;
    color: var(--primary-color);
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 26px;
    font-weight: bold;
}

#close-btn:hover {
    color: var(--secondary-color);
}

#result{
    color: var(--text-color);
}
.info{
    position: relative;
    display: grid;
    grid-template-columns: 4fr 8fr;
    align-items: center;
    margin-top: 1.2em;
}
.poster{
    width: 100%;
}
h2{
    text-align: center;
    font-size: 2.2em;
    font-weight: 600;
    letter-spacing: 0.06em;
}
.rating{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6em;
    margin: 0.6em 0 0.9em 0;
}
.rating img{
    width: 1.2em;
}
.rating h4{
    display: inline-block;
    font-size: 1.1em;
    font-weight: 500;
}
.details{
    display: flex;
    font-size: 0.95em;
    gap: 1em;
    justify-content: center;
    color: var(--primary-color);
    margin: 0.6em 0;
    font-weight: 300;
}
.genre{
    display: flex;
    justify-content: space-around;
}
.genre div{
    border: 1px solid var(--primary-color);
    font-size: 0.75em;
    padding: 0.4em 1.6em;
    border-radius: 0.4em;
    font-weight: 300;
}
h3{
    font-weight: 500;
    margin-top: 1.2em;
}
p{
    font-size: 0.9em;
    font-weight: 300;
    line-height: 1.8em;
    text-align: justify;
    color: var(--primary-color);
}
.msg{
    text-align: center;
}
@media screen and (max-width: 600px){
    .container{
        font-size: 14px;
    }
    .info{
        grid-template-columns: 1fr;
    }
    .poster{
        margin: auto;
        width: auto;
        max-height: 10.8em;
    }
}

.categories {
    margin: 10px;
    margin-top: 20px;
}
.category-line{
    width: 10px;
    height: 1em;
    background-color: var(--primary-color);
    position: absolute;
    margin-bottom: 10px;
}
.categories-title{
    width: 100%;
    padding: 2px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: var(--sub-base-color);
    display: flex;
    justify-content: flex-start;
    padding-left: 1.5em;
}
.categories-heading{
    font-size: 18px;
    color: var(--primary-color);
    position: relative;
    padding-left: 0.5em;
}
.categories-heading::before{
    content: '';
    background-color: var(--primary-color);
    position: absolute;
    height: 1.3em;
    width: 0.2em;
    left: 0px;
    border-radius: 4px;
    top: 1.9px;
}
.movie-row {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px;
    scrollbar-width: none;
    scroll-behavior: smooth;
    margin-bottom: 30px;
}

.movie-row::-webkit-scrollbar {
    display: none;
}

.movie-card {
    min-width: 200px;
    max-width: 250px;
    cursor: pointer;
    transition: transform 0.3s;
    text-align: center;
    color: var(--text-color);
}

.movie-card:hover {
    transform: scale(1.1);
}

.movie-poster {
    width: 100%;
    border-radius: 8px;
}

/*Carasouel*/
.slider {
    height: 100vh;
    margin-top: -60px;
    position: relative;
    overflow: hidden;
}

.slider .list .item{
    position: absolute;
    inset: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.5s;
}

.slider .list .item.active {
    opacity: 1;
    
}

.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, var(--base-color) 0.5%, transparent);
    z-index: 1;
    pointer-events: none;
}

.item .watch{
    cursor: pointer;
    position: absolute;
    bottom: 80px;
    left: 50px;
    background-color: var(--primary-color);
    border: none;
    color: var(--sec-text-color);
    font-weight: 640;
    font-size: 19px;
    border-radius: 40px;
    transition: 0.4s;
    z-index: 12;
    height: 50px;
    width: 130px;
    opacity: 0.9;
}

.watch:hover{
    background-color: var(--secondary-color);
    color: var(--base-color);
}

.arrows {
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
}

.arrows button {
    background-color: var(--primary-color);
    cursor: pointer;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: var(--sec-text-color);
    transition: 0.5s;
}

.arrows button:hover {
    opacity: 0.5;
}

.thumbnail {
    position: absolute;
    bottom: 50px;
    z-index: 1;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 220px;
    padding: 0 30px;
    box-sizing: border-box;
    overflow-x: auto;
    justify-content: center;
}

.thumbnail::-webkit-scrollbar {
    width: 0;
}

.thumbnail .item,
.thumbnail .item_active {
    width: 130px;
    height: 190px;
    filter: brightness(0.5);
    transition: 0.5s;
    flex-shrink: 0;
    position: relative;
}

.thumbnail .item.active,
.thumbnail .item_active {
    filter: brightness(1);
}

.thumbnail .item img,
.thumbnail .item_active img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


/* Responsiveness */
@media screen and (max-width: 768px) {
    .watch {
        bottom: 40px;
        left: 20px;
        padding: 8px 16px;
        font-size: 14px;
    }
    .arrows {
        top: 10%;
        right: 20px;
    }
    .arrows button {
        width: 35px;
        height: 35px;
    }
    .thumbnail {
        height: 150px;
        padding: 0 10px;
        justify-content: start;
    }
    .thumbnail .item,
    .thumbnail .item_active {
        width: 100px;
        height: 140px;
    }
}

@media screen and (max-width: 480px) {
    .watch {
        bottom: 30px;
        left: 15px;
        font-size: 12px;
        padding: 6px 12px;
    }
    .arrows {
        right: 10px;
    }
    .arrows button {
        width: 30px;
        height: 30px;
        font-size: large;
    }
}

/* Responsive for tablet and mobile views */
@media screen and (max-width: 768px) {
    #theme-switch {
        right: 4em; /* Adjust switch position for small screen */
    }

    .container {
        width: 90vw;
        padding: 2em 1em;
        top: 52%;
        transform: translate(-50%, -50%);
    }

    #close-btn {
        left: auto;
        right: 10px;
        top: 10px;
        font-size: 22px;
    }

    .info {
        grid-template-columns: 1fr;
        gap: 1em;
    }

    .poster {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
    }

    .search-box input {
        width: 60vw;
    }

    .search-box button {
        width: auto;
        padding: 0 1em;
    }

    h2 {
        font-size: 1.8em;
    }
}

.movie-row {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    gap: 1em;
    padding-bottom: 1em;
}
.movie-row::-webkit-scrollbar {
    height: 6px;
}
.movie-row::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
}
